<!DOCTYPE HTML>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/frame :: header (title='Kurzusok - DaveCAT 0.1')">

</head>

<body>
<div th:replace="fragments/frame :: menu">&nbsp;</div>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-1">Kurzusok</h1>
        <p>Új kurzus létrehozása</p>
    </div>
</div>
<div class="container" style="margin-top:80px; margin-bottom:80px">
    <div class="row">
        <div class="col-sm-12" th:if="${message} != null">
            <div class="alert alert-success">
                <p th:text="${message}" />
            </div>
        </div>
        <div class="col-sm-9" style="background-color: whitesmoke">
            <br />
            <h2>Új kurzus adatai</h2>
            <br />
            <form id="add-course-form" action="/addCourse" method="post" onsubmit="return validateForm()">
                <div class="form-group">
                    <label for="title">Kurzus neve:</label>
                    <input type="text" class="form-control form-control-lg" id="title" name="title" maxlength="127" required />
                </div>
                <div class="form-group">
                    <label for="description">Kurzus leírása:</label>
                    <textarea type="text" class="form-control" id="description" name="description" maxlength="2047" required></textarea>
                </div>
                <div class="form-group">
                    <label for="location">Kurzus helye:</label>
                        <input type="text" class="form-control" id="location" name="location" maxlength="127" required />
                </div>
                <div class="form-group">
                    <label for="length">Alkalmak száma:</label>
                        <input type="number" class="form-control form-control-range" id="length" name="length" required />
                </div>
                <label>Időpont</label>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Kezdés: </div>
                            </div>
                            <input type="number" class="form-control form-control-range" id="begin" name="begin" min="0" max="23" required oninput="validateForm()"/>
                        </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Vége: </div>
                            </div>
                            <input type="number" class="form-control form-control-range" id="end" name="end" min="0" max="23" required oninput="validateForm()" />
                        </div>
                    </div>

                    &nbsp;
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    Nap
                                </div>
                            </div>
                            <select name="day" id="day" class="form-control" required>
                                <option selected disabled>Válassz napot!</option>
                                <option value="MONDAY">Hétfő</option>
                                <option value="TUESDAY">Kedd</option>
                                <option value="WEDNESDAY">Szerda</option>
                                <option value="THURSDAY">Csütörtök</option>
                                <option value="FRIDAY">Péntek</option>
                                <option value="SATURDAY">Szombat</option>
                                <option value="SUNDAY">Vasárnap</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-success">Kurzus létrehozás</button>
            </form>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header"><h2>Demo</h2></div>
                <div class="card-body">
                    <button onclick="fillSample()" class="btn btn-primary disabled">OS adatok</button><br />
                    <button onclick="fillSample2()" class="btn btn-primary disabled">Szám.Arch. adatok</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="fragments/frame :: footer" />
<script>
    function validateForm() {
        if(parseInt($("#begin").val()) < parseInt($("#end").val())){
            $("#begin")[0].setCustomValidity('');
            $("#end")[0].setCustomValidity('');
            return true;
        } else {
            $("#begin")[0].setCustomValidity('Az óra kezdő idő pontja később van mint a befejező időpontja');
            $("#end")[0].setCustomValidity('Az óra befejező idő pontja korábban van mint a kezdő időpontja');
            return false;
        }
    }

    function fillSample() {
        $("#title").val('Operációs Rendszerek');
        $("#description").val('Az Operációs Rendszerek nevű tantárgyhoz tartozó gyakorlati kurzus. A kurzus alatt a legelterjedtebb shellel, a BASH shellel és az IPC programozással fogunk megismerkedni. A gyakorlat teljesítéséhez a félév végén egy C nyelvű IPC beandadó elkészítése és megvédése, valamint legalább 8 jelenlét szükséges.');
        $("#begin").val('10');
        $("#end").val('12');
        $("#location").val('IN/103');
        $("#length").val('14');
        $("#day").val('WEDNESDAY');
    }
    function fillSample2() {
        $("#title").val('Számítógép architektúrák');
        $("#description").val('Ezen a kurzuson a linux rendszerek használatával fogunk megismerkedni, megismerkedünk a BASH shellel, alapvető parancsokkal. A tárgy teljesítéséhéz BASH beadandó és megfelelő számú jelenlét szükséges.');
        $("#begin").val('11');
        $("#end").val('13');
        $("#location").val('IN/102');
        $("#length").val('14');
        $("#day").val('WEDNESDAY');
    }
</script>

</body>
</html>